.flexrow {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 260px;
    width: 430px;
    justify-content:flex-start;
    align-items: center;
}

.box {
    width: 130px;
    height: 130px;
    background-color:rgb(231, 231, 135);
    border-radius: 8px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
   }

   .box1 {
    width: 130px;
    height: 130px;
    background-color: rgb(90, 223, 223);
    border-radius: 8px;
    border-color: black;
    border-width: 1px;
    border-style: solid;

   }

   .box2 {
    width: 130px;
    height: 130px;
    background-color: lightgreen;
    border-radius: 8px;
    border-color: black;
    border-width: 1px;
    border-style: solid;

   }

   .box3 {
    width: 130px;
    height: 130px;
    background-color: white;
    border-radius: 8px;
    border-color: black;
    border-width: 1px;
    border-style: solid;

   }

   .box4 {
    width: 130px;
    height: 130px;
    background-color: black;
    border-radius: 8px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    color:white
   }

   .box5 {
    width: 130px;
    height: 130px;
    background-color: rgb(107, 105, 245);
    border-radius: 8px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-image: linear-gradient(to right, rgb(107, 105, 245), rgb(167, 245, 245));
   }

   p {
    text-align: center;
    padding: 25%;
    font-size: larger;
}
