.flexrow {
    display: flex;
    flex-direction: row;
    background-color: rgb(233, 233, 77);
    height: 550px;
    width: 100%;
    justify-content:flex-start;
    align-items: center;
}

.box {
    width: 50px;
    height: 97%;
    background-color: rgb(90, 223, 223);
    margin: 5px;
   }

   .box1 {
    width: 50px;
    height: 35%;
    background-color: rgb(90, 223, 223);
    margin: 5px;
   }

   .box2 {
    width: 50px;
    height: 50%;
    background-color: rgb(90, 223, 223);
    margin: 5px;
   }

   .box3 {
    width: 50px;
    height: 65%;
    background-color: rgb(90, 223, 223);
    margin: 5px;
   }

   .box4 {
    width: 50px;
    height: 15%;
    background-color: rgb(90, 223, 223);
    margin: 5px;
   }

   .box5 {
    width: 50px;
    height: 25%;
    background-color: rgb(90, 223, 223);
    margin: 5px;
   }

