.container {
    position: relative;
    text-align: center;
}

div h1 {
    position: absolute;
  top: 42%;
  left: 45%;
  color:white;
}

.p1 {
    position: absolute;
    top: 55%;
    left: 45%;
    color:white;   
}

.p2 {
    position: absolute;
    top: 62%;
    left: 45%;
    color:white;   
}

img {
    width: 50%;
    height: 50%;
}