h1 {
    position:absolute;
    bottom:50%;
    left:0%;
    background-color: yellow;
    width: 90%;
    padding-left: 2em;
}

.container {
    position: relative;
}

p{
    position: absolute;
    bottom: 45%;
    width: 65%;
    margin-left: 1em;
    padding-left: 1em;
    background-color: lightgray;
}

img {
    width: 100%;
}