.sticky {
    margin-top: 50px;
    margin-bottom: 50px;
    position: sticky;
    top:0;
}

.stickinthebox {
    position: fixed;
    margin-top: 50px;
    margin-right: 50px;
    background-color: red;
}

.sticky1 {
    position: fixed;
}