.leftButton {
    background-color: lightblue;
    border:1px solid lightblue;
    color: white;
    padding: 10px 24px;
}

.leftButton:hover {
    background-color:blue;
}

.rightButton {
    background-color: rgb(223, 77, 77);
    border:1px solid red;
    color: white;
    padding: 10px 24px;
}

.rightButton:hover {
    background-color:red;
}


h1 {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

.container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
    background-color: black;
    color:white;
    width:150px;
    height: 70px;
}

.l1 {
    color:blue;
}

.l2 {
    color:red;
}

.result {
    margin-left: 43%;
    margin-top: 4em;
    
}