.container {
    background-color: lightgray;
    height: 500px;
    width: 1200px;
    padding: 30px;
}

.movingcard {
    background-color: gray;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    height: 320px;
    width: 200px;
    border-radius: 12px;
    padding-left: 20px;
    transition: margin-left 5s;
}

.movingcard:hover {
    margin-left: 600px;
}

h1 {
    margin-bottom: 58px;
}

.card {
    background-color: gray;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    height: 320px;
    width: 200px;
    border-radius: 12px;
    padding-left: 20px;
    position: absolute;
}

.card2 {
    background-color: gray;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    height: 320px;
    width: 200px;
    border-radius: 12px;
    padding-left: 20px;
    position: absolute;
    margin-left: 80px;
}

.card3 {
    background-color: gray;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    height: 320px;
    width: 200px;
    border-radius: 12px;
    padding-left: 20px;
    position: absolute;
    margin-left: 160px;
}

.card4 {
    background-color: gray;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    height: 320px;
    width: 200px;
    border-radius: 12px;
    padding-left: 20px;
    position: absolute;
    margin-left: 240px;
}