html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
    color: white;
    text-decoration: none;
}

body {
    background-color: rgb(235, 230, 230);
    font-family: 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.hr1 {
    color: #C5DEEA;
    margin-bottom: 20px;
}

.left {
    box-sizing: border-box;
    background-color:#4B86CB;
    width:16.7%;
    color: white;
}

.middle {
margin-left: 35px;
}

.right {
    margin-left: 60px;
    width: 35em;
}

.center {
    text-align: center;
}

.relative {
    position: relative;
}

.img1 {
    height:20px;
    margin-right: 7px;
    margin-left: 40px;
}

.img2 {
    width:100%;
    height: 120px;
    margin-top: 14px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.img3 {
    position: absolute;
    border-radius: 50%;
    height:100px;
    width: 100px;
    border-color: #4B86CB;
    border-style: solid;
    border-width: 3px;
    top: 74px;
    left: 180px;
}

.h {
    margin-top: 30px;
}

.p1 {
    color: #4B86CB;
    font-weight: bolder;
}

hr ~ p {
    font-size: small;
}

.between {
    display: flex;
    justify-content: space-between;
}

.image {
    height: 17px;
    width: 17px;
}

.marg {
    margin-top: 60px;
}

.color {
    background-color: #4B86CB;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    height: 30px;
    padding-top: 9px;
    padding-left: 15px;
    color: white;
    margin-bottom: 0;
}

.row {
display: flex;
flex-direction: row;
}

.row1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    }
    

.margb1 {
    margin-bottom: 2px;
    border-bottom: #4B86CB;
    border-bottom-style: solid;
    border-width: 1.8px;
    width: 40%;
    height: 20px
}

.margin1 {
    margin-left: 5px;
    width: 30%
}

.margb2 {
    margin-bottom: 2px;
    border-bottom: #4B86CB;
    border-bottom-style: solid;
    border-width: 1.8px;
    width: 13%;
    height: 20px
}

.margb3 {
    margin-bottom: 2px;
    border-bottom: #4B86CB;
    border-bottom-style: solid;
    border-width: 1.8px;
    width: 12%;
    height: 20px;
    margin-left: 5px;
}

.margb4 {
    margin-bottom: 2px;
    border-bottom: #4B86CB;
    border-bottom-style: solid;
    border-width: 1.8px;
    width: 35%;
    height: 20px;
    margin-left: 5px;
}

.margb5 {
    margin-bottom: 2px;
    border-bottom: #4B86CB;
    border-bottom-style: solid;
    border-width: 1.8px;
    width: 34%;
    height: 20px
}

.margb6 {
    margin-bottom: 2px;
    border-bottom: #4B86CB;
    border-bottom-style: solid;
    border-width: 1.8px;
    width: 34%;
    height: 20px;
    margin-left: 5px;
}

.margb7 {
    margin-bottom: 2px;
    border-bottom: #4B86CB;
    border-bottom-style: solid;
    border-width: 1.8px;
    width: 27%;
    height: 20px
}

.margb8 {
    margin-bottom: 2px;
    border-bottom: #4B86CB;
    border-bottom-style: solid;
    border-width: 1.8px;
    width: 18%;
    height: 20px;
    margin-left: 5px;
}

.margb9 {
    margin-bottom: 2px;
    border-bottom: #4B86CB;
    border-bottom-style: solid;
    border-width: 1.8px;
    width: 38%;
    height: 20px;
    margin-left: 5px;
}

.margb10 {
    margin-bottom: 2px;
    border-bottom: #4B86CB;
    border-bottom-style: solid;
    border-width: 1.8px;
    width: 20%;
    height: 20px
}

.img4 {
    height: 17px;
    width: 17px;
    margin-top: 14px;
    margin-right: 5px;
}

.margl {
    margin-left: 145px;
}

.margint {
    margin-top: 5px;
    margin-bottom: 5px;
}

.marg2 {
    margin-left: 164px;
}

.marg3 {
    margin-left: 116px;
}

.marg4 {
    margin-left: 157px;
}

.marg5 {
    margin-left: 139px;
}

.marg6 {
    margin-left: 148px;
}


.red {
    color: red;
    margin:0;
    padding:0;
}

.turquoise {
    color: turquoise;
    margin:0;
    padding:0;
}

.letterbox {
    position: relative;
    margin:0;
    padding:0;
}

.turquoise1 {
    color: turquoise;
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.lightgreen {
    color:yellowgreen;
    margin-top:0;
    padding:0;
    position: absolute;
    top:-9px;
    left:70px;
}

.lightgreen1 {
    color:yellowgreen;
    margin:0;
    padding:0;
    padding-top: 10px;
    position: absolute;
    top:15px;
    left:120px;
    font-size: 300%;
}

.lightgreen2 {
    color:yellowgreen;
    margin:0;
    padding:0;
    position: absolute;
    top:0px;
    left:212px;
}

.red1 {
    color:red;
    margin:0;
    padding:0;
    position: absolute;
    top:13px;
    left:240px;
    font-size: 150%;
}

.purple {
    color:rgb(55, 0, 128);
    margin:0;
    padding:0;
    position: absolute;
    top:-20px;
    left:270px;
    font-size: 280%;
}

.red2 {
    color:red;
    margin:0;
    padding:0;
    position: absolute;
    top:30px;
    left:45px;
}

.turquoise2 {
    color: turquoise;
    margin:0;
    padding:0;
    position: absolute;
    top:51px;
    left:290px;
}

.turquoise3 {
    color: turquoise;
    margin:0;
    padding:0;
    position: absolute;
    top:71px;
    left:92px;
    font-size: 200%;
}

.red3 {
    color: red;
    margin:0;
    padding:0;
    position: absolute;
    top:69px;
    left:170px;
    font-size: 180%;
}

.turquoise4 {
    color: turquoise;
    margin:0;
    padding:0;
    position: absolute;
    top:67px;
    left:280px;
}

.lightgreen3 {
    color:yellowgreen;
    margin:0;
    padding:0;
    position: absolute;
    top:107px;
    left:110px;
    font-size: 130%;
}

.purple1 {
    color:rgb(55, 0, 128);
    margin:0;
    padding:0;
    position: absolute;
    top:88px;
    left:165px;
    font-size: 250%;
}

.lightgreen4 {
    color:yellowgreen;
    margin:0;
    padding:0;
    position: absolute;
    top:123px;
    left:40px;
    font-size: 240%;
}

.lightgreen5 {
    color:yellowgreen;
    margin:0;
    padding:0;
    position: absolute;
    top:122px;
    left:165px;
    font-size: 200%;
}

.lightgreen6 {
    color:yellowgreen;
    margin:0;
    padding:0;
    position: absolute;
    top:107px;
    left:250px;
    font-size: 200%;
}

.purple2 {
    color:rgb(55, 0, 128);
    margin:0;
    padding:0;
    position: absolute;
    top:155px;
    left:55px;
    font-size: 210%;
}

.purple3 {
    color:rgb(55, 0, 128);
    margin:0;
    padding:0;
    position: absolute;
    top:152px;
    left:225px;
    font-size: 110%;
}